body{
font-family: serif;
text-align: center;
}

h1, h3{
  color: grey;
}

input{
  background-color: maroon;
  color: white;
}

table{
  min-width:50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-width:1px;
  background:lightgrey;
  padding:10px;
}
input{
  width:90%;
  border: 2px;
  border-color: black;
}

td{
  width:33.33%;
}
#display{
  height: 30px;
}
